.find-a-pet-container {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: 'Arial, sans-serif';
  background-color: #d4773c;
  margin-top:26px;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap between cards */
  justify-content: center; /* Center the cards */
}

.pet-item{
  background-color: #1f1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 23%; /* Make each card take up about a quarter of the container */
  max-width: 300px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pet-item:hover {
  transform: scale(1.05);
}

.pet-image {
  width: 100%;
  height: 200px; /* Increased height for better visibility */
  object-fit: cover;
  border-radius: 10px;
}

.pet-name {
  font-size: 1.2em; /* Adjust font size for better visibility */
  margin: 10px 0;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pet-type {
  font-size: 1em;
  color: #555;
}

.adopt-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Full width of the card */
}

.adopt-button:hover {
  background-color: #45a049;
}

.pet-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-details {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.pet-details img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent; /* Transparent background */
  color: #0f0c0c; /* Dark text for visibility */
  border: none;
  cursor: pointer;
  font-size: 24px; /* Larger font size for cross symbol */
  line-height: 1; /* Align text vertically */
  padding: 0;
  width: 30px; /* Fixed width */
  height: 30px; /* Fixed height */
  border-radius: 50%; /* Circular button */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(194, 164, 164, 0.2); /* Subtle shadow */
  transition: color 0.3s, background-color 0.3s;
}

.close-button:hover {
  color: #f44336; /* Change color on hover for visibility */
}

.close-button:before {
   /* Cross symbol */
  font-size: 24px; /* Size of the cross symbol */
}


h1 {
  margin-bottom: 20px;
  color: #333;
}

h2 {
  margin: 10px 0;
  color: #555;
}

p {
  margin: 5px 0;
  color: #777;
}
