/* Appointment.css */

.appointment-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f776;
}

.appointment-container {
  background: url('https://images.pexels.com/photos/5699456/pexels-photo-5699456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
  border-radius: 10px;
  padding: 40px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

h1 {
  color: #090000; /* Set the heading color to black */
}

.appointment-form .form-group {
  margin-bottom: 20px;
}

.appointment-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  animation: slideIn 0.5s ease-in-out;
}

.appointment-form button {
  background-color: #5cb85c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.appointment-form button:hover {
  background-color: #4cae4c;
}

.success-message,
.error-message {
  margin-top: 20px;
  font-weight: bold;
  color: green;
  animation: fadeIn 1s ease-in-out;
}

.error-message {
  color: red;
}
.toast-container {
  position: fixed;
  bottom: 10px; /* Adjust as needed to position below the navbar */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; /* Ensure it's below the navbar if the navbar's z-index is higher */
}

.toast-message {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
}

.toast-message.success {
  background-color: #28a745;
}

.toast-message.error {
  background-color: #dc3545;
}

.toast-message.info {
  background-color: #17a2b8;
}

.toast-message.warning {
  background-color: #ffc107;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
