.container-style {
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.row-style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card-style {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #fff;
  text-align: center;
  flex: 1 1 calc(33% - 60px); /* Adjusts to take a third of the width minus margins */
  max-width: calc(33% - 60px); /* Adjusts to take a third of the width minus margins */
}

.card-style:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}
